@model List<Entity.Banco.MVC.Web.Models.Carro>
@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>

@if (TempData["msg"] != null)
{
    <div class="alert alert-success">
        @TempData["msg"]
    </div>
}

<table class="table table-striped">
    <tr>
        <th>Modelo</th>
        <th></th>
    </tr>
    @foreach (var c in Model)
    {
        <tr>
            <td>@c.Modelo</td>
            <td>
                @Html.ActionLink("Editar",
                 "Editar", new { id = @c.CarroId },
                    new { @class = "btn btn-warning" })
                @Html.ActionLink("Excluir", "Excluir",
                    new { id = @c.CarroId },
                    new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>