@model List<Entity.Banco.MVC.Web.Models.Pagamento>
@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>

<!-- Mensagem -->
@if (TempData["msg"] != null)
{
    <div class="alert alert-success">
        @TempData["msg"]
    </div>
}

<table class="table table-striped">
    <tr>
        <th>Tipo de Lavagem</th>
        <th>Valor</th>
        <th></th>
    </tr>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Lavagem.Tipo</td>
                <td>@p.Valor</td>
                <td>
                    @Html.ActionLink("Editar",
                    "Editar", new { id = @p.PagamentoId},
                    new { @class = "btn btn-warning" })
                    @Html.ActionLink("Excluir", "Excluir",
                    new { id = @p.PagamentoId },
                    new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
</table>