@model Code.Cadastro.UI.Web.Models.Professor
@{
    ViewBag.Title = "Cadastrar Professor";
}

<h2>Cadastrar</h2>

<!--Mensagem de sucesso-->
@if (TempData["msg"] != null)
{
    <div class="alert alert-success">
        @TempData["msg"]
    </div>
}

@using (@Html.BeginForm())
{
    <div class="form-group col-lg-6">
        @Html.LabelFor(x => x.Nome)
        @Html.TextBoxFor(x => x.Nome,
                new
                {
                    @class = "form-control",
                    placeholder = "Digite o nome",
                    title = "Digite o nome",
                    required = "required",
                    autofocus = "autofocus"
                })
    </div>
    <div class="form-group col-lg-6">
        @Html.LabelFor(x => x.Telefone)
        @Html.TextBoxFor(x => x.Telefone,
                new
                {
                    @class = "form-control",
                    placeholder = "Digite o telefone",
                    title = "Digite o telefone",
                    required = "required"          
                })
    </div>

    <div class="form-group col-lg-12">
        @Html.LabelFor(x => x.DataAdmissao)
        @Html.TextBoxFor(x => x.DataAdmissao,
                new 
                { 
                    @class = "form-control",
                    placeholder = "Selecione a Data de Admissão"
                })
    </div>

    <div class="form-group col-lg-6">
        @Html.LabelFor(x => x.Formacao)
        @Html.DropDownListFor(x => x.Formacao,
            ViewBag.lista as SelectList, "Selecione",
                new { @class = "form-control" })
    </div>

    <div class="form-group col-lg-6">
        @Html.LabelFor(x => x.HoraAula)
        @Html.TextBoxFor(x => x.HoraAula,
              new
                 {
                     @class = "form-control",
                     placeholder = "Digite o valor Hora/Aula",
                     title = "Digite o valor Hora/Aula"
                 })
    </div>

    <div class="form-group col-lg-12">
        @Html.LabelFor(x => x.DataNascimento)
        @Html.TextBoxFor(x => x.DataNascimento,
                new
                {
                    @class = "form-control",
                    placeholder = "Selecione a Data de Nascimento"
                })
    </div>

    <div class="form-group col-lg-6">
        @Html.LabelFor(x => x.Email)
        @Html.TextBoxFor(x => x.Email,
              new
                 {
                     @class = "form-control",
                     placeholder = "Digite o E-mail",
                     title = "Digite o Email"
                 })
    </div>

    <div class="form-group col-lg-6">
        @Html.LabelFor(x => x.Cargo)
        @Html.DropDownListFor(x => x.CargoId,
            ViewBag.cargos as SelectList, "Selecione o cargo",
                new { @class = "form-control" })
    </div>
    
     <div class="form-group">
        <input type="submit" value="Salvar" 
               class="btn btn-primary" /> 
    </div>
}


<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/maskedinput.js"></script>

<script>
$(function () {
    $("#Telefone").mask("(99) 9999-9999");

    $('#DataAdmissao').datepicker({
        format: 'dd/mm/yyyy',
        language: 'pt-BR'
    });

    $('#DataNascimento').datepicker({
        format: 'dd/mm/yyyy',
        language: 'pt-BR'
    });
});
</script>
