@model Entity.Banco.MVC.Web.Models.Lavagem
@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastro de Lavagens</h2>

@if (TempData["msg"] != null)
{
    <div class="alert alert-success">
        @TempData["msg"]
    </div>
}

@using (@Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(l => l.Data)
        @Html.TextBoxFor(l => l.Data,
                new
                {
                    @class = "form-control",
                    placeholder = "Selecione a data.."
                })
    </div>
    <div class="form-group">
        @Html.LabelFor(l => l.Tipo)
        @Html.TextBoxFor(l => l.Tipo,
                new
                {
                    @class = "form-control",
                    placeholder = "Digite o tipo da lavagem"
                })
    </div>
    <div class="form-group">
        @Html.LabelFor(l => l.Carro)
        @Html.DropDownListFor(l => l.CarroId,
            ViewBag.carros as SelectList,
            "Selecione",
            new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(l => l.Valor)
        @Html.TextBoxFor(l => l.Valor,
                new
                {
                    @class = "form-control",
                    placeholder = "Digite o valor da lavagem"
                })
    </div>
    <div class="form-group">
        <input type="submit" value="Salvar"
               class="btn btn-primary" />
    </div>

}

<script>
    $().ready(function () {
        //Habilita o datepicker no campo dataNascimento
        $("#Data").datepicker();
    })
</script>