@model Entity.Banco.MVC.Web.Models.Lavagem
@{
    ViewBag.Title = "Editar";
}

<h2>Editação de Lavagens</h2>

@using (@Html.BeginForm())
{
    //Passa o Id da lavagem em um campo oculto
    @Html.HiddenFor(l => l.LavagemId)

    <div class="form-group">
        @Html.LabelFor(l => l.Data)
        @Html.TextBoxFor(l => l.Data,
                new
                {
                    @class = "form-control",
                    placeholder = "Selecione a data.."
                })
    </div>
    <div class="form-group">
        @Html.LabelFor(l => l.Tipo)
        @Html.TextBoxFor(l => l.Tipo,
                new
                {
                    @class = "form-control",
                    placeholder = "Digite o tipo da lavagem"
                })
    </div>
    <div class="form-group">
        @Html.LabelFor(l => l.Carro)
        @Html.DropDownListFor(l => l.CarroId,
            ViewBag.cargos as SelectList,
            "Selecione",
            new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(l => l.Valor)
        @Html.TextBoxFor(l => l.Valor,
                new
                {
                    @class = "form-control",
                    placeholder = "Digite o valor da lavagem"
                })
    </div>
    <div class="form-group">
        <input type="submit" value="Salvar"
               class="btn btn-primary" />

        <!--Botao para voltar-->
        @Html.ActionLink("Voltar", "Listar",
            "Lavagem", new { @class = "btn btn-default" })
    </div>

}

<script>
    $().ready(function () {
        //Habilita o datepicker no campo dataNascimento
        $("#DataNascimento").datepicker();
    })
</script>