@model List<Entity.Banco.MVC.Web.Models.Lavagem>
@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>

@if (TempData["msg"] != null)
{
    <div class="alert alert-success">
        @TempData["msg"]
    </div>
}

<table class="table table-striped">
    <tr>
        <th>Data da lavagem</th>
        <th>Tipo da lavagem</th>
        <th>Modelo do carro</th>
        <th>Valor</th>
        <th></th>
    </tr>
    @foreach (var l in Model)
    {
        <tr>
            <td>@l.Data</td>
            <td>@l.Tipo</td>
            <td>@l.Carro.Modelo</td>
            <td>@l.Valor</td>
            <td>
                @Html.ActionLink("Editar",
                    "Editar", new { id = @l.LavagemId },
                    new { @class = "btn btn-warning" })
                @Html.ActionLink("Excluir", "Excluir",
                    new { id = @l.LavagemId },
                    new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>