@model Entity.Banco.MVC.Web.Models.Cargo
@{
    ViewBag.Title = "Editar";
}

<h2>Editar Cargo</h2>

@using (@Html.BeginForm())
{
    //Passa o Id do cargo em um campo oculto
    @Html.HiddenFor(c => c.CargoId)
    <div class="form-group">
        @Html.LabelFor(c => c.Descricao)
        @Html.TextBoxFor(c => c.Descricao,
             new { @class = "form-control" })
    </div>
    <div>
        <input type="submit" value="Salvar" class="btn btn-primary" />

        <!--Botao para voltar-->
        @Html.ActionLink("Voltar", "Listar",
            "Cargo", new { @class = "btn btn-default" })
    </div>
}